@model IEnumerable<PROYECTO_LENGUAJE_MARCAS.Controllers.HomeController.CountriesID>

@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <style>
        body {
            background-image: url("Content/Images/fondoprueba1.jpg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            margin: 0;
            backdrop-filter: blur(3px);
        }

        .flip-card {
            background-color: transparent;
            width: 300px;
            height: 200px;
            padding: 20px;
            perspective: 1000px;
        }

        .flip-card-inner {
            position: relative;
            width: 100%;
            height: 100%;
            text-align: center;
            transition: transform 0.8s;
            transform-style: preserve-3d;
        }

        .flip-card:hover .flip-card-inner {
            transform: rotateY(180deg);
        }

        .flip-card-front, .flip-card-back {
            position: absolute;
            width: 100%;
            height: 100%;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
            transform-style: preserve-3d;
        }

        .flip-card-front {
            color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
            
            
        }
        .flip-card-front h1 {
            -webkit-text-stroke: 2px black;
        }

        .flip-card-back {
            color: white;
            transform: rotateY(180deg);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            
        }
        .card-image{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        a.button {
            background-color: rgba(60, 138, 255, 0.5);;
            color: rgb(0, 0, 0);
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
            text-decoration: none; 
            font-weight: bolder;
        }

        a.button:hover {
            background-color: rgba(0, 47, 255, 0.7);
        }

        .main {
            display: flex;
            justify-content: center;
        }

        .container {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 15px;
            padding: 30px;
        }

        .row {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            gap: 15px;
        }

        h1{
            -webkit-text-stroke-width: 1.5px;
            -webkit-text-stroke-color: rgb(12, 27, 2);
            font-weight: bolder;
            font-family: 'Regen', sans-serif;
        }
        
        .countryInformation{
            color:rgb(12, 27, 2);
            font-size: 180%;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: #12fded;
            font-weight: bolder;
            font-family: 'Regen', sans-serif;
        }
    </style>
</head>
<body>
    <main class="container">
        @foreach (var country in Model)
        {

            <div class="row">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front"style="background-image: url('@country.urlImagen'); background-size:cover;">
                            <h1>@country.countryName</h1>
                            <p class="countryInformation">@country.capitalCountry</p>
                        </div>
                        <div class="flip-card-back " style="background-image: url('@country.urlCityImage'); background-size:cover;">   
                            <a href="@Url.Action("WeatherInformation", "Home", new { id = country.id})" class="button">Consultar</a>
                        </div>
                    </div>
                </div>
            </div>
            
        }
    </main>
</body>
</html>
